html {
	position: relative;
	min-height: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-size: 18px;
	color:#222;
	background-color: white;
	font-family: "Noto Sans", Arial, "Noto Color Emoji";
}

.row, .col
{
	margin-left: unset;
	margin-right: unset;
	padding-left: unset;
	padding-right: unset;
}

.container
{
	max-width: 900px;
	margin: auto auto;
}
.navbar, footer.footer
{
	background-color: white;
	box-shadow: 0px 0px 1px 0px;
	padding: unset;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.navbar .container
{
	justify-content: left;
	padding: 0px;
	
}

.navbar-wrapper
{
	/*margin-left: -0.75em;
	margin-right: -0.75em;*/
	display: flex;
	flex-wrap: wrap;
	width: 100%;
/*	width: calc(100% + 1.5em);*/
}

.navbar a, .navbar-nav a.nav-link
{
	padding: 0.75rem;
	display: inline-block;
}

.nav

.navbar-nav a.nav-link
{
	padding-left: 0rem;
}

.menu-toggle
{
	font-size: 1.5rem; 
	color:#6c757d;
}

.search-icon
{
	font-size: 1em; 
	color:#6c757d;
	padding: 0.75rem;
	line-height: 1.5;
}

.main ul, .main ol, .main p
{
	margin-top:1rem;
	margin-bottom:1rem;
}

.main li 
{
	margin-top:0.25rem;
	margin-bottom:0.25rem;
}


.main section {
	padding: 150px 0;
}

.main img {
	max-width: 100%;
}


.main pre, .main code {
	background: #f8f8f8;
	color: #333;
}

.main pre {
	border-left: 2px solid #ccc;
	padding: 10px;
}

.main code {
	display: inline-block;
	padding: 0 0.5rem;
	line-height: 1.4rem;
	border-radius: 3px;
}

.main table {
	empty-cells: show;
	border: 1px solid #cbcbcb;
	width: 100%;
	margin-bottom: 1rem;
}

.main thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

.main tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.main th, .main td 
{
	padding: 0.5rem 0.75rem !important;
}

/*th:first-child, td:first-child
{
	padding-left: 0 !important;
}

th:last-child, td:last-child
{
	padding-right: 0 !important;
}*/

.main h1.title,
.main h2.title {
	font-size: 2.3rem;
}

.main h1
{
	font-size: 1.7rem;
}

.main h2
{
	font-size: 1.4rem;
}

.main h3
{
	font-size: 1em;
	font-weight: bold;
}

.page .details
{
	margin-bottom: 1rem;
}

.main blockquote {
        padding: 10px 20px;
        margin: 0 0 20px 20px;
        border-left: 5px solid #eee;
        font-style: italic;
}

/* Navbar */
img.nav-svg-icon {
	width: 1rem;
	height: 1rem;
	padding-bottom: 2px;
}

.footer-text
{
	padding: 0.75rem;
}

.mini-logo {
	height: 22px;
	padding-bottom: 5px;
}

/* Plugins */
.plugin {
	margin-top: 3rem;
}

.plugin-label {
	font-size: 1rem;
	text-transform: uppercase;
}

.plugin ul {
	list-style: none;
	padding: 0 0 0 10px;
}

.search-bar input.search
{
	width: 100%;
	border: 1px solid #dee2e6;
	padding:0.45rem 0.9rem;
	border-radius: 0.1rem;
	/* font-size: 0.9em; */
}

.search-bar input.search:focus
{
	border: 1px solid #ddd;
	outline: none;
}

.main
{	padding-top:60px;
	padding-bottom:30px;
	margin-top:30px;
	margin-bottom:30px;
	flex-grow: 1;
}

.main a, .main a:hover 
{
	color:#e44d4d;
}



.page-empty
{
	padding: 1rem;
}

.main table.page-results
{
	border: none;
	margin-left: -15px;
	margin-right: -15px;
	width: calc(100% + 1.5rem);
}

.main table.page-results thead
{
	background-color: #fff0 !important;
	color:#0009;
}

.page-results a.title:hover, .page-results a.category:hover, .page-results a.tag:hover
{
/*	text-decoration: none;*/
}

.page-results a.tag, .paginator-link, .muted-link
{
	color:#6c757d;
/*	font-size: 0.9rem;
	border: 1px solid #6c757d;
	padding: 0.02em 0.1em;
	border-radius: 0.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	display: inline-block;*/
}

.page-results a.tag:hover, .paginator-link:hover, .muted-link:hover
{
	color:#494c4f;
	text-decoration:none;
}

.page .content
{
	text-align: justify;
}

.paginator-link
{
	padding: 0rem 0.75rem;
}
.head-date
{
	min-width: 140px;
}
.head-tags
{
	max-width: 200px;
	min-width: 150px;
}
.head-title
{
	min-width: 250px;
}


.search-bar
{
	margin-bottom: 30px;
}

.navbar-toggler
{
	display: none;
}
.navbar-collapse
{
	flex-basis: unset;
}
.navbar-nav
{
	flex-direction: row;
}
.search-link
{
	display: none !important;
}

.collapse:not(.show)
{
	display: inline-block;
}

/* Fixing scroll as the theme has a sticky header */
.main h1, .main h2, .main h3, .main h4, .main div.section
{
	scroll-margin-top: 50px;
	overflow: initial;
}

/*Boxes custom*/
.box
{   
    margin-top:1rem;
    margin-bottom:1rem;
    background: #fafafa;
    border: 1px solid #a2a9b1;
    padding:1rem;
    box-sizing:border-box;
    border-radius: 3px;
}
.box div.center
{ width:unset;}
.box>*:first-child
{
    margin-top:0;
}
.box>*:last-child
{
    margin-bottom:0;
}
.box.red
{
    background: #ffebee;
    border: 1px solid #d33;
}

.box.blue
{
    background: #e3f2fd;
    border: 1px solid #386c96;
}

.box.green
{
    background: #d5fdf4;
    border: 1px solid #14866d;
}

.box.yellow
{
    background: #fffde7;
    border: 1px solid #fbc02d;
}
.box.pink
{
    background: #fce4ec;
    border: 1px solid #ec407a;
}
.box.purple
{
    background: #f3e5f5;
    border: 1px solid #ab47bc;
}

/* Side boxes */
.side
{
	float:right;
	margin:0.5rem 1rem;
    	margin-right: 0rem;
}
.side.left
{
	float:left;
	margin:0.5rem 1rem;
    	margin-left: 0rem;
}

img.side
{
    margin:0.5rem 1rem;
    margin-right: 0rem;
}

.box.side
{
    width:300px;
    margin-top:0;
    margin-bottom:1rem;
    margin-left:1rem;
}
.box.side.big
{
    width:400px;
}
.box.side.left
{
    margin-right:0.5rem;
    float: left;
}

.box img
{
    max-width:100%;
    height:auto;
}
.nb 
{
	border:none !important;
}

/* For mobile screens */
@media screen and (max-width: 600px) 
{
  	body
  	{ font-size:16px;
 	 }
		.navbar-toggler
	{
		display: inline-block;
	}
	.navbar-collapse
	{
		flex-basis: 100%;
	}
	.navbar-nav
	{
		flex-direction: column;
	}
	.search-link
	{
		display: inline-block !important;
	}
	.search-icon
	{
		display: none !important;
	}

	.head-title, .head-date
	{
		min-width: unset;
	}

	.collapse:not(.show)
	{
		display: none;
	}
	.main table.page-results thead
	{
		display: none;
	}
	.main table.page-results tr
	{
		display: flex;
		border-bottom: 1px solid #ccc;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		flex-wrap: wrap;
	}
	.main table.page-results tr:last-child
	{

		border: none;


	}
	.main table.page-results tr td
	{
		width: 50%;
		border: none;
		font-size: 0.8em;

	}
	.main table.page-results tr td:first-child
	{
		width: 100%;
		font-size: 1em;
	}	
}

@media screen and (max-width: 500px) 
{	

	.side
	{ 
		margin-left: 0rem;
		margin: auto auto !important;
		display: block;
		float: none !important;

	}
	.side.center
	{
		text-align: center;
	}
	.side.box
	{
		width: 100%;
	}

	.page .content
	{
		text-align: initial;
	}

}


/* For prints */
@media print
{
	.navbar
	{
		display: none;
	}
}
